body{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.textWitaj{
    font-size: 1.4rem;
}
.navbar, .sidebar, .content, .modal-content, .card{
    background: rgba(0, 0, 0, 0.6);
}
.avatar{
    height: 110px;
    width: 110px;          
}
.sidebar{
    width: 250px;
    height: 100% 100vh;
}
.header{
    font-size: 100px;
}
.line-user-beer {
    border-top: 3px double white;
}
.subheader-user-beer{
    font-size: 40px;
}
.dodane-user-beer img{
    height: 150px;
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
}      
.dodane-user-beer button{
    margin-bottom: .6em;
}
.dodane-user-beer button:last-child{
    margin-bottom: 0;
}
.oczekujace-user-beer img{
    height: 150px;
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
}
.oczekujace-user-beer button{
    margin-bottom: .6em;
}
.oczekujace-user-beer button:last-child{
    margin-bottom: 0;
}
.odrzucone-user-beer img{
    height: 150px;
    width: 120px;
    margin-left: 15px;
    margin-top: 15px;
}
.odrzucone-user-beer button{
    margin-bottom: .6rem;
}
.odrzucone-user-beer button:last-child{
    margin-bottom: 0;
}
.card-user-beer{
    margin-bottom: 1rem;
}